button {
   &.btn-primary {
      color: white;
      border-radius: 4px;
      background-color: #1565c0;
      &:hover {
         background-color: #2196f3;
      }
   }
   &.btn-success {
      background-color: #28a745;
      &:hover {
         background-color: #218838;
      }
   }
   &.btn-show-settings {
      min-width: 200px;
   }
}