.settings {
   min-height: 200px;
   height: 100%;
   // .settings__select

   &__select {
   }

   // .settings__input

   &__input {
   }

   &__buttons {
      display: flex;
      justify-content: flex-end;
   }
}