@import './board';
@import './stopwatch';
@import './settings';
@import './buttons';
@import './modal';
@import './gamepage';
@import './media';

html, body {
   height: 100%;
}
#root {
   height: 100%;
}
.App {
   height: 100%;
}
body {
   overflow-y: scroll
}

.bold {
   font-weight: 700;
}

.dropdown-content li>span {
   color: #2196f3;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
   background-color: #2196f3;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
   border: 2px solid #2196f3;
}